@import "reset";
@import "fond";
@import "btn-styles";

body{
  display: flex;
  justify-content: center;
  background: #F8F8F8;
}

.App{
  display: flex;
  flex-direction: column;
  align-items: center;
}
body::-webkit-scrollbar{
  display: none;
}


