@import "../app";
@mixin padding($y,$x){
  padding: $y $x;
}

.navContainer{
  display: flex;
  justify-content: space-between;
  align-items: center;
  @include padding(13px,0);
  .logo{
    width: 104px;
    height: 26px;
  }
  .buttons{
    display: flex;
    a:last-child{
      margin-left: 10px;
    }
  }
}
a{
  @extend %button-style
}

//For screen 1024px
@media screen and (max-width: 1024px){
  .navContainer{
    @include padding(13px,60px);
  }
}
//for screen 768px
@media screen and (max-width: 768px){
  .navContainer{
    @include padding(13px,32px);
  }
}
//for screen 400px
@media screen and (max-width: 400px){
  .navContainer{
    @include padding(13px,16px);
  }
}